/* main css */

html {
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
}

img {
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #1c1d25;
    overflow: hidden;
    cursor: url('resources/textures/cursor.png'),url('resources/textures/cursor.png'),none;
    font-family: 'Black Ops One', cursive;
}

.stars {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.stars > img {
    position: absolute;
    pointer-events: none;
}

#mars {
    width: 20%;
    height: auto;
    position: absolute;
    right: -20px;
    pointer-events: none;
    bottom: -20px;
}

.scene {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scene-wrapper {
    display: block;
    position: relative;
    transition: 0.5s transform ease-in;
}

.scene-wrapper.title {
    transform: translateY(0);
}

.scene-wrapper.text {
    transform: translateY(-100vh);
}

.scene-wrapper.game {
    transform: translateY(-200vh);
}

#moon {
    width: 128px;
    height: auto;
    position: absolute;
    left: 60%;
    pointer-events: none;
    bottom: 60%;
}

.menu {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(50% - 120px);
    left: 10%;
}

.menu li {
    color: #fff;
    font-size: 64px;
}

.menu li:hover {
    color: #7B7B7B;
    transform: scale(1.1);
}

.buf {
    color: #fff;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 450px;
}

.anim-typewriter span {
    border-right: 16px solid;
    padding: 0 5px;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.blackbox-logs {
    display: none;
    position: fixed;
    z-index: 24;
    max-height: 300px;
    right: 35px;
    bottom: 35px;
    font-family: 'Inconsolata', monospace;
    background: rgba(255, 255, 255, 0.6);
    padding: 30px;
}

.blackbox-logs span {
    display: block;
}

.blackbox-logs span::before {
    display: inline;
    content: '--> ';
}

.blackbox-logs span.noformat {
    text-align: center;
}

.blackbox-logs span.noformat::before {
    content: '';
}

.blackbox-logs > div {
    position: relative;
    overflow: hidden;
    max-height: 300px;
    display: block;
}

.blackbox-logs > div > div {
    /*position: absolute;*/
    bottom: 0;
}

.scene-buffer {
    
}

.tutorial {
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    color: #fff;
    font-size: 45px;
}

.overlay-keys {
    background-image: url('resources/tutorial/Keys_For_Tutorial_Unpressed-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: calc(100% + 30px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.3);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
}

@keyframes flash {
    0% {opacity: 0;}
    50% {opacity: 0;}
    51% {opacity: 1;}
    100% {opacity: 1;}
}

.overlay-keys.up::after {
    content: '';
    background-image: url('resources/tutorial/Keys_For_Tutorial_Up-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    animation-name: flash;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
    animation-delay: 0s, 0.3s;
}

.overlay-keys.down::after {
    content: '';
    background-image: url('resources/tutorial/Keys_For_Tutorial_Down-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    animation-name: flash;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
    animation-delay: 0s, 0.3s;
}

.overlay-keys.left::after {
    content: '';
    background-image: url('resources/tutorial/Keys_For_Tutorial_Left-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    animation-name: flash;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
    animation-delay: 0s, 0.3s;
}

.overlay-keys.right::after {
    content: '';
    background-image: url('resources/tutorial/Keys_For_Tutorial_Right-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    animation-name: flash;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
    animation-delay: 0s, 0.3s;
}

.game-ui {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.object {
    position: absolute;
    display: block;
}

.console {
    width: 350px;
    height: 170px;
    right: 10px;
    font-size: 2vw;
    bottom: 10px;
    font-family: 'Open Sans';
    color: #fff;
}

.console img {
    height: auto;
    width: 150px;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.target-status {
    text-align: center;
    color: #fff;
}

.ui-ob::before,
.ui-ob::after {
    width: 3px;
    height: 3px;
    content: '';
    position: absolute;
    left: -2.5px;
    background: #fff;
    display: block;
}

.ui-ob::before {
    top: -1.5px;
}

.ui-ob::after {
    bottom: -1.5px;
}

.ui-ob {
    width: 150px;
    margin-top: 5px;
    height: 70px;
    border-left: solid #fff 1px;
    background: rgba(255,255,255,0.2);
    position: relative;
    transition: 1s background ease;
}

.ui-ob > img {
    height: calc(100% - 40px);
    width: auto;
    position: absolute;
    display: block;
    top: 40%;
    transform: translateY(-50%);
    left: 10px;
}

.ui-ob > .bar {
    width: calc(100% - 20px);
    left: 10px;
    display: block;
    bottom: 10px;
    height: 10px;
    background: rgba(255,255,255,0.2);
    position: absolute;
}

.ui-ob > span {
    font-size: 30px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 20px;
    color: #fff;
}

.ui-ob > .bar > span {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.8);
    content: '';
    display: block;
}

.console > p {
    display: block;
    font-size: 15px;
    color: rgba(255,255,255,0.75);
    border-bottom: 1px rgba(255,255,255,0.4) solid;
    text-transform: Uppercase;
    position: absolute;
    bottom: calc(100% + 10px);
    width: 100%;
}

@keyframes resource-out {
    0% {
        background: rgba(255,40,0,0.5);
    }
    100% {
        background: rgba(255,40,0,0);
    }
    
}

.warning {
    background: rgba(255,200,0,0.5);
}

.out {
    animation: resource-out 1.5s ease infinite;
}

.emergency {
    background: rgba(255,40,0,0.5);
}

.loading {
    text-transform: Uppercase;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
}

.objective {
    right: 10px;
    top: 10px;
    font-family: 'Open Sans';
    width: 300px;
    color: #fff;
}

.objective ul {
   list-style: none;
}

.objective p {
    display: block;
    font-size: 15px;
    color: rgba(255,255,255,0.75);
    text-transform: Uppercase;
}

.objective > p {
    border-bottom: 1px rgba(255,255,255,0.4) solid;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    
}

.objective ul > li > p {
    color: rgba(255,255,255,0.85);
}

.altitude > p {
    line-height: 120px;
    vertical-align: middle;
}

.altitude {
    height: 120px;
    position: relative;
}

.alt-line {
    position: absolute;
    height: calc(120px * .95);
    bottom: 5%;
    width: 1px;
    right: 5%;
    background: rgba(255,255,255,0.4);
    content: '';
}

.altitude .alt::before {
    width: 8px;
    height: 2px;
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 6px);
    transform: translateY(-50%);
    background: rgba(255,255,255,1);
}

.altitude .alt {
    position: absolute;
    bottom: 0;
    right: 26px;
    display: block;
    transform: translateY(4px);
    font-size: 15px;
    color: rgba(255,255,255,0.75);
    text-transform: Uppercase;
}

.mission-control {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    height: 100%;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 97%, rgba(0,0,0,1) 100%);
}

.mission-control > .inner {
    font-family: 'Open Sans';
    width: 70vw;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.mission-control > .inner > p {
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
    margin-bottom: 10px;
    display: inline-block;
    letter-spacing: -1px;
}

.mission-control > .inner > span {
    width: 100%;
    display: block;
    position: relative;
    height: 2px;
    background: #fff;
    margin-bottom: 10px;
}

.mission-control > .inner > span::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 8px;
    left: 0;
    top: 0;
    background: #fff;
}

.mission-control > .inner > .status {
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
}

.mission-control > .inner > .mission {
    padding: 15px 10px;
    background: rgba(255,255,255,0.4);
    position: relative;
    margin-bottom: 5px;
}

.mission-control > .inner > .mission > .title {
    font-size: 18px;
}

.mission-control > .inner > .mission > .description {
    font-size: 12px;
}

.mission.current::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('resources/assets/arrow.png');
    background-size: cover;
    background-position: center center;
    display: block;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mission.finished::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('resources/assets/check.png');
    background-size: cover;
    background-position: center center;
    display: block;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.difficulty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    height: 100%;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 97%, rgba(0,0,0,1) 100%);
}

.difficulty > .dif-choice {
    top: 30%;
    transform:  translate(-50%, -50%);
    width: 25vw;
    height: 25vw;
    background: rgba(255,255,255,0.4);
    border-left: #fff solid 1px;
}

.difficulty > .dif-choice::before,
.difficulty > .dif-choice::after {
    width: 3px;
    height: 3px;
    content: '';
    position: absolute;
    left: -2.5px;
    background: #fff;
    display: block;
}

.difficulty > .dif-choice::before {
    top: -1.5px;
}

.difficulty > .dif-choice::after {
    bottom: -1.5px;
}

#easy {
    left: 20%;
}

#medium {
    left: 50%;
}

#hard {
    left: 80%;
}

.difficulty > .dif-choice > img {
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-30deg);
}

.difficulty > .dif-choice > p {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.difficulty > .dif-choice.active {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
    background: rgba(255,255,255,0.6);
}

.stats {
    background: rgba(255,255,255,0.4);
    top: 55%;
    position: absolute;
    border-left: #fff solid 1px;
    width: 30vw;
    height: 20%;
    transform: translateX(-50%);
}

.stats.left {
    left: 20%;
}

.stats.middle {
    left: 50%;
}

.stats.right {
    left: 80%;
}

.stats::before,
.stats::after {
    width: 3px;
    height: 3px;
    content: '';
    position: absolute;
    left: -2.5px;
    background: #fff;
    display: block;
}

.stats::before {
    top: -1.5px;
}

.stats::after {
    bottom: -1.5px;
}

.stats > div {
    display: block;
    height: calc(33.33% - 5px);
    padding: 5px 0 0 5px;
    color: #fff;
    position: relative;
}

.stats .bar {
    width: calc(100% - 20px);
    display: block;
    bottom: 10px;
    height: 10px;
    background: rgba(255,255,255,0.2);
    position: absolute;
}

.stats .bar > span {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.8);
    content: '';
    display: block;
}

.finish-dif {
    color: #fff;
    font-size: 42px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.finish-dif:hover {
    color: #7B7B7B;
    transform: translateX(-50%) scale(1.2);
}

.mission-control-done {
    color: #fff;
    font-size: 42px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.mission-control-done:hover {
    color: #7B7B7B;
    transform: translateX(-50%) scale(1.2);
}
