/* main css */

html {
    height: 100%;
    width: 100%;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #1c1d25;
    overflow: hidden;
    cursor: url('resources/textures/cursor.png'),url('resources/textures/cursor.png'),none;
    font-family: 'Black Ops One', cursive;
}

.stars {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.stars > img {
    position: absolute;
    pointer-events: none;
}

#mars {
    width: 20%;
    height: auto;
    position: absolute;
    right: -20px;
    pointer-events: none;
    bottom: -20px;
}

.scene {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scene-wrapper {
    display: block;
    position: relative;
    transition: 0.5s transform ease-in;
}

.scene-wrapper.title {
    transform: translateY(0);
}

.scene-wrapper.text {
    transform: translateY(-100vh);
}

.scene-wrapper.game {
    transform: translateY(-200vh);
}

#moon {
    width: 128px;
    height: auto;
    position: absolute;
    left: 60%;
    pointer-events: none;
    bottom: 60%;
}

.menu {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(50% - 120px);
    left: 10%;
}

.menu li {
    color: #fff;
    font-size: 64px;
}

.menu li:hover {
    color: #7B7B7B;
    transform: scale(1.1);
}

.buf {
    color: #fff;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 450px;
}

.anim-typewriter span {
    border-right: 16px solid;
    padding: 0 5px;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.blackbox-logs {
    display: none;
    position: fixed;
    z-index: 24;
    max-height: 300px;
    right: 35px;
    bottom: 35px;
    font-family: 'Inconsolata', monospace;
    background: rgba(255, 255, 255, 0.6);
    padding: 30px;
}

.blackbox-logs span {
    display: block;
}

.blackbox-logs span::before {
    display: inline;
    content: '--> ';
}

.blackbox-logs span.noformat {
    text-align: center;
}

.blackbox-logs span.noformat::before {
    content: '';
}

.blackbox-logs > div {
    position: relative;
    overflow: hidden;
    max-height: 300px;
    display: block;
}

.blackbox-logs > div > div {
    /*position: absolute;*/
    bottom: 0;
}

.scene-buffer {
    
}

.tutorial {
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    color: #fff;
    font-size: 45px;
}

.overlay-keys {
    background-image: url('resources/tutorial/Keys_For_Tutorial_Unpressed-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: calc(100% + 30px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.3);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
}

@keyframes flash {
    0% {opacity: 0;}
    50% {opacity: 0;}
    51% {opacity: 1;}
    100% {opacity: 1;}
}

.overlay-keys.up::after {
    content: '';
    background-image: url('resources/tutorial/Keys_For_Tutorial_Up-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    animation-name: flash;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
    animation-delay: 0s, 0.3s;
}

.overlay-keys.down::after {
    content: '';
    background-image: url('resources/tutorial/Keys_For_Tutorial_Down-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    animation-name: flash;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
    animation-delay: 0s, 0.3s;
}

.overlay-keys.left::after {
    content: '';
    background-image: url('resources/tutorial/Keys_For_Tutorial_Left-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    animation-name: flash;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
    animation-delay: 0s, 0.3s;
}

.overlay-keys.right::after {
    content: '';
    background-image: url('resources/tutorial/Keys_For_Tutorial_Right-L.png');
    display: block;
    width: 200px;
    height: 135px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    animation-name: flash;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 12px;
    animation-delay: 0s, 0.3s;
}

.game-ui {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.object {
    position: absolute;
    display: block;
}

.console {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 90%);
    max-width: 350px;
    max-height: 400px;
    width: 25%;
    height: 50vw;
    right: 0;
    font-size: 2vw;
    top: 0;
    background: rgba(13, 23, 25, 0.8);
}

.console img {
    height: auto;   
    max-width: 80%;
    width: 250px;
    margin: 0 auto;
    display: block;
}

.target-status {
    text-align: center;
    color: #fff;
}
